:root{
    --primary: goldenrod;
}
.text-primary{
    color: var(--primary)!important;
}
.bg-primary{
    background-color: var(--primary) !important;
}
.link-primary{
    color: var(--primary) !important;
}
.rounded{
    border-radius: 25px !important;
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    -o-border-radius: 25px !important;
}